* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Cabin', sans-serif;
  height: 100%;
}

.login {
  width: 500px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #f5f5f5;
  background: #b3fff0;

  label {
    display: block;
    margin-bottom: 10px;
  }

  input {
    padding: 10px 5px;
    border: 1px solid #b3fff0;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    background: #fff;
  }

  select {
    padding: 10px 5px;
    border: 1px solid #b3fff0;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 10px;
    background: #fff;
  }

  button {
    padding: 10px;
    display: block;
    width: auto;
    margin-top: 20px;
    text-align: center;
    color: #fff;
    background: #33cccc;
    cursor: pointer;
    border: none;

    &:hover {
      background: #248f8f;
    }
  }
}

.link {
  color: #000;
  text-decoration: none;

  &:hover,
  &:focus {
    color: cornflowerblue;
    text-decoration: underline;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.week {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  margin: 2.3px;

  a {
    display: block;
    width: 100%;
    height: 100%;
  }

  &.wasted-week {
    a {
      cursor: not-allowed;
      background: gray;
    }
  }
}

.container-week {
  flex-wrap: nowrap;
  justify-content: space-between;
}

.day {
  width: 150px;
  height: 100px;
  border: 1px solid #000;
  padding: 10px;
  text-align: center;

  &.today {
    box-shadow: 0 0 5px #000;
  }
}

.good {
 background: #60ad5e;
}

.bad {
  background: #ff3333;
}
